doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Formation Polymer: Chapitre 1 - Les composants web (Web Components)

    link(rel='stylesheet', type='text/css', href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,900')
    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section.slide-home(data-bespoke-backdrop='slide-home-container', data-bespoke-hash='presentation')
        div.container-home
          div.logo
            img(src="images/polymer.svg" width="300" alt="Polymer Logo")
          h1.much-bigger Formation Polymer
            small (version &gt;= 1.x)
          div.bottom-main
            p Présenté par <strong>Zakaria Amarifi</strong>
            p 2016 &copy; <span>Development Media 73</span>

      section(data-bespoke-hash='polymer-cest-quoi')
        h2.bullet C'est quoi Polymer ?
        p.bullet
          span Un ensemble de librairies utilisant les composants web ( Web Components )
        p.bullet
          span C'est un nouveau concept
          span.ln-return ( ce n'est pas une framework )
        p.bullet
          span C'est le futur du développement web
          span.ln-return et c'est en ...
        p.bullet
          span ... JavaScript
        p.bullet
          span Pas de panique !!!
          span.ln-return y'a pas mal du HTML et un peu de CSS aussi :P

      section(data-bespoke-hash='sommaire')
        h2.bullet Sommaire
        ul
          li Histoire des composants web (Web Components)
          li Tour rapide sur quelques notions en Polymer
          li
            span Création d'un projet en Polymer
            span.ln-return - Structure, organisation
            span.ln-return - Tâches automatisés
            span.ln-return - Clean coding
            span.ln-return - Style, Material Design
          li Polymer et stockage des données
          li Le mode Offline
          li Les animations et transitions
          li Performance et optimisation

      section.slide-home(data-bespoke-backdrop='slide-home-container', data-bespoke-hash='accueil')
        div.container-home
          h3.top-main Formation Polymer 2016
          div.logo
            img(src="images/polymer.svg" width="180" alt="Polymer Logo")
          h1 <span class="chapter">Chapitre 1</span> <br>Les composants web
            span.highlight (Web Components)
          div.bottom-main
            p Présenté par <strong>Zakaria Amarifi</strong>
            p 2016 &copy; <span>Development Media 73</span>

      section
        h2 Keyboard Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-keys">bespoke-keys</a>

      section
        h2 Touch Interaction
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-touch">bespoke-touch</a>

      section
        h2 Responsive Slides
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-scale">bespoke-scale</a>

      section
        h2 Bullet List
        h3.bullet Powered by <a href="https://github.com/markdalgleish/bespoke-bullets">bespoke-bullets</a>
        ul
          li Bullet 1
          li Bullet 2
          li Bullet 3

      section
        h2 Syntax Highlighting
        h3 Powered by <a href="http://twitter.com/LeaVerou">Lea Verou</a>'s <a href="https://github.com/LeaVerou/prism">Prism</a>
        pre
          code.language-javascript.
            bespoke.from('article', [
              classes(),
              keys(),
              touch(),
              bullets('li, .bullet')
            ]);

      section(data-bespoke-hash='named-route')
        h2 Named Route
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-hash">bespoke-hash</a>
        p Look up! This route has been named with a <em>'data-bespoke-hash'</em> attribute.

      section.emphatic-text(data-bespoke-backdrop='emphatic')
        h2 Emphatic Slide!
        h3 Powered by <a href="https://github.com/markdalgleish/bespoke-backdrop">bespoke-backdrop</a>

      section
        h2.bullet Just the beginning...
        br
        ul
          li Edit <a href="http://jade-lang.com/">Jade</a> markup in <em>'src/index.jade'</em>
          li Edit <a href="http://learnboost.github.io/stylus/">Stylus</a> styles in <em>'src/styles/main.styl'</em>
          li Edit JavaScript in <em>'src/scripts/main.js'</em>
        br
        ul
          li
            strong Enjoy! :)
            a(href='http://twitter.com/markdalgleish')  -@markdalgleish

    script(src='build/build.js')
