// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes


body
    background #002B36

    section
        &.bespoke-slide
            background transparent
            color rgba(#FFF, 0.5)

            h1, h2, h3
                color #FFF

            :not(pre) > code[class*="language-"], pre[class*="language-"]
                background #010A0C

            &.slide-home
                color rgba(#000, 0.5)

                h1, h2, h3
                    color #000

                h3.top-main
                    position absolute
                    top 2px
                    left 10px
                    margin 0
                    font-size 10px
                    font-weight 700
                    text-transform uppercase

                .logo
                    position relative
                    width 100%
                    height 60%

                    img
                        position absolute
                        top 50%
                        left 50%
                        transform translate(-50%, -50%)

                h1
                    margin-top 30px
                    font-size 30px
                    line-height 1
                    text-transform uppercase

                    span
                        display block
                        font-size 50px

                .bottom-main
                    position absolute
                    bottom 2px
                    right 10px
                    font-size 10px
                    text-align right

                    p
                        margin 0 0 4px 0
                        line-height 1

    .slide-home-container
        background-image url("/images/coding-bg.jpg")
        background-size cover
        &:after
            content ''
            display inline-block
            position absolute
            top 0
            left 0
            right 0
            bottom 0
            background rgba(#FFF, 0.85)

    .bespoke-progress-parent
        height 3px
        .bespoke-progress-bar
            background #FFDF29
