// New to Stylus? Check out http://learnboost.github.io/stylus
// Use modern CSS thanks to Autoprefixer: https://github.com/ai/autoprefixer

// Import CSS from "node_modules" and "bower_components"
// thanks to Stylus' "import css" and "paths" options

@import 'prism/themes/prism-okaidia.css'
// Check out "bower_components/prism/themes/" for available themes

@import '../../../../../styles/main.styl'

body
    section
        &.slide-custom-01,
        &.slide-custom-02,
        &.slide-custom-03,
        &.slide-custom-04
            h2, h3
                margin-bottom 3px
        &.slide-custom-27
            ul
                li
                    a
                        strong
                            color #06FF84
                            font-weight 700
                            text-transform uppercase
                        small
                            display block
                            color #7FCED0
                            font-size 0.750em
